<div class="home">
<h1 class="homewelcome">Welcome to YELPit!!</h1>
<p class="homep">A place where you can post all of your restaurant reviews!</p>
<button class="waves-effect grey darken-3 btn"><%= link_to  "Add a Review", new_yelpit_path%></button>
</div>
