@import "materialize";


.waves-effect {
  color: #e040fb;
}

.new_yelpit {
  margin: 70px;
}

.home {
  margin: 60px;
}
.home2 {
  margin: 65px;
}

a{
  color:white;
}

.add_new {
  text-align: center;
}
.brand-logo {
 padding-left: 20px;
}

.homep {
  font-size: 20px;
}
.homewelcome {
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.showreview {
  text-align: center;
}