
  <nav>
    <div class="nav-wrapper pink">
      <a href="#" class="brand-logo">YELPit</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><%= link_to  "Home", root_path %></li>
        <li><%= link_to  "Reviews", yelpits_path %></li>
        <li><%= link_to 'Add Review', new_yelpit_path%></li>
      </ul>
    </div>
  </nav>


